body {
    overflow-x: hidden;
    width: 100%;
    background: rgb(80, 80, 80);
}

.container {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.my_common_screen {
    width: 100%;
    height: auto;
    position: relative;
    background: #03007D;
}

.column_wrapper {
    width: 100%;
    height: 91%;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    align-items: flex-start;
    gap: 0.5%;
    margin-top: 5%;
}

.column_1 {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 54%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    
}

.column_2 {
    overflow-x: hidden;
    width: 38%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;  
    position: relative;
}

.bubble {
    object-fit: cover;
    width: 90%;  
    height: auto; 
    align-items: center; 
    align-self: center;
    margin-top: 3.8%;
}

.text_block_1 {
    height: 3vw;
    width: 100%;
    /* margin-bottom: 5%; */
    background-color: pink; opacity: 0.5;
    overflow: hidden; /* Скрываем текст, выходящий за пределы */
    white-space: nowrap; /* Запрещаем перенос строк */
    box-sizing: border-box; /* Учет внутренних отступов */
    color: rgba(223, 0, 6, 1); /* Цвет текста */
    padding: 10px;
    font-size: 30px;
    font-family: Helvetica_bold;
}
.text_block_1-content {
    display: inline-block; /* Для горизонтального перемещения */
    white-space: nowrap;
    animation: marquee 10s linear infinite; /* Анимация перемещения */
}
@keyframes marquee {
    from {
      transform: translateX(100%); /* Начинаем с правого края */
    }
    to {
      transform: translateX(-50%); /* Заканчиваем за левым краем */
    }
  }
.worm_body_1 {
    width: 98%;
    text-align: center;
    position: relative;
    background-size: cover; 
    overflow: hidden;
    margin-left: 0.4%;
}

.img_body_1 {
    width: 100%;
    align-items: center;
    z-index: 1;
}
.worm_body_head {
    position: relative;
    height: auto;
    width: 83.2%;
    z-index: 2; /* Нижний слой */
    display: flex;
    align-items: flex-start;
    margin-top: -1.8%;
    right: 7.3%;
    overflow: visible;
}
.wormhand2 {
    visibility: hidden;
    position: absolute;
    height: auto;
    width: 61%;
    z-index: 3;
    display: flex;
    align-items: flex-start;
    right: 18.3%;
    margin-top: -49% ;
}
.img_wormhand2 {
    object-fit: cover;
    width: 100%; 
}
.wormhead {
    object-fit: contain;
    width: 100%; 

}
.worm_body_2 {
    position: relative;
    height: auto;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_body_2 {
    object-fit: cover;
    width: 100%;
    align-items: center;
}

.text_block_2 {
    height: 3vw;
    width: 100%;
    background-color: pink; opacity: 0.5;
    margin-top: 4.3%;
}
.img_faceseyeball {
    width: 74%;
    position:absolute;
    top: 1%;
    left: 21.4%;
    z-index: 3;
}
.img_hands {
    width: 94%;
    position: absolute;
    top: 1.2%;
    left: 2.8%;
    z-index: 2;
}
.img_rats {
    width: 88%;
    position: absolute;
    top: 43.9%;
    left: 5%; 
    z-index: 3; 
}
.img_heads {
    width: 95%;
    position: absolute;
    top: 61%;
    left: 2.4%; 
    z-index: 2; 
}
.img_spider {
    width: 42%;
    position: absolute;
    top: 80%;
    left: 33%; 
    z-index: 3; 
}
.img_rats_2 {
    width: 89%;
    position: absolute;
    top: 93%;
    left: 4.3%; 
    z-index: 2;  
}
.img_mouth {
    position: absolute; /* Позволяет расположить элемент поверх других */
    top: 1.4%; /* Устанавливает вертикальную позицию (регулируйте по необходимости) */
    right: 37%; /* Устанавливает горизонтальную позицию (регулируйте по необходимости) */
    width: 60%; /* Размер mouth относительно worm_body_2 */
    z-index: 2; /* Устанавливает уровень наслоения поверх других элементов */
}

.img_newborns {
    position: absolute;
    top: 48.2%;
    right: 0%;
    width: 91%;
    z-index: 3;
    display: inline-block;
    padding: 10px 20px;
    animation: shake 0.3s infinite;
}
@keyframes shake {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(-2px, -2px);
    }
    20% {
      transform: translate(2px, -2px);
    }
    30% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(2px, 2px);
    }
    50% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, -2px);
    }
    70% {
      transform: translate(-2px, 2px);
    }
    80% {
      transform: translate(2px, 2px);
    }
    90% {
      transform: translate(-2px, -2px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
.img_eyes{
    position: absolute;
    top: 86.9%;
    right: 15%;
    width: 83%;
    z-index: 3;  
}
.worm_body_hand{
    position: relative;
    height: auto;
    width: 87%;
    z-index: 2; /* Нижний слой */
    display: flex;
    align-items: flex-start;
    margin-right: % ;
}
.img_wormhand {
    object-fit: cover;
    width: 100%;
    margin-left: 2.3%; 
    margin-top: -5%;
}
.wormhead2 {
    visibility: hidden;
    position: relative;
    height: auto;
    width: 85%;
    z-index: 2; /* Нижний слой */
    display: flex;
    align-items: flex-start;
    left: 1.2%;
    margin-top: -47%;
}
.img_wormhead2 {
    object-fit: cover;
    width: 100%;
    margin-left: 0%; 
    margin-top: -5%;
    z-index: 3;
}