body {
    overflow-x: hidden;
    width: 100%;
    background: rgb(80, 80, 80);
}

.container {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.my_common_screen {
    width: 100%;
    height: auto;
    position: relative;
    background: #03007D;
}

.column_wrapper {
    width: 100%;
    height: 91%;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    align-items: flex-start;
    gap: 0.5%;
    margin-top: 5%;
}

.column_1 {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 54%;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

}

.column_2 {
    overflow-x: hidden;
    width: 38%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;  
    position: relative;
}

.bubble {
    object-fit: cover;
    width: 90%;  
    height: auto; 
    align-items: center; 
    align-self: center;
    margin-top: 3.8%;
}

.text_block_1 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 3em;
    padding: 0.5%;
    width: 100%;
    background-color: rgba(255, 126, 175, 1);
    overflow: hidden;
}
.text_block_fear {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 3em;
    animation: line 10s infinite linear;
}
.text_block_1-content {
    color: rgba(223, 0, 6, 1);
    font-size: 2em;
    font-family: Helvetica_bold;
    margin-right: 0.5%;
}
@keyframes line {
    0%{transform: translate(-10%,0);}
    100%{transform: translate(-40%,0);}
}
.worm_body_1 {
    width: 98%;
    text-align: center;
    position: relative;
    background-size: cover; 
    overflow: hidden;
    margin-left: 0.4%;
}

.img_body_1 {
    width: 100%;
    align-items: center;
    z-index: 1;
}
.worm_body_head {
    position: relative;
    height: auto;
    width: 83.2%;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    margin-top: -1.8%;
    right: 7.3%;
    overflow: visible;
}
.wormhand2 {
    visibility: hidden;
    position: absolute;
    height: auto;
    width: 61%;
    z-index: 3;
    display: flex;
    align-items: flex-start;
    right: 18.3%;
    margin-top: -49% ;
}
.img_wormhand2 {
    object-fit: cover;
    width: 100%; 
}
.wormhead {
    object-fit: contain;
    width: 100%; 
    z-index: 1;

}
.worm_body_2 {
    position: relative;
    height: auto;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_body_2 {
    object-fit: cover;
    width: 100%;
    align-items: center;
}

.text_block_2 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 3em;
    width: 100%;
    background-color: rgba(255, 126, 175, 1);
    overflow: hidden;
    margin-top: 4%;
}
.text_block_ganiball {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.3%;
    size: 3em;
    text-transform: uppercase;
    animation: line2 4s infinite linear;
}
.text_block_2-content {
    color: rgba(223, 0, 6, 1);
    font-size: 2em;
    font-family: Helvetica_bold;
    margin-right: 1%;
}
@keyframes line2 {
    0%{transform: translate(-10%,0);}
    100%{transform: translate(-40%,0);}
}

.img_eyeball {
    width: 45%;
    position:absolute;
    top: 5%;
    left: 37%;
    z-index: 6;
}
.img_zrachok {
    width: 8%;
    position:absolute;
    top: 12.2%;
    left: 55%;
    z-index: 7;
}
@keyframes pulse {
    0% {
      transform: scale(2);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(2);
    }
  }

  .pulse {
    animation: pulse 1s infinite;
  }

.img_face_foreground_1 {
    width: 15%;
    position:absolute;
    top: 15%;
    left: 29%;
    z-index: 7;
}
.hover-scale {
    transition: transform 0.3s ease;
}
.hover-scale:hover {
    transform: scale(1.2);
}
.img_face_foreground_2 {
    width: 15%;
    position:absolute;
    top: 16%;
    left: 74%;
    z-index: 7; 
}
.img_face_foreground_3{
    width: 15%;
    position:absolute;
    top: 12%;
    left: 79%;
    z-index: 6; 
}
.img_face_foreground_4{
    width: 14%;
    position:absolute;
    top: 8%;
    left: 78%;
    z-index: 5; 
}
.img_face_foreground_5 {
    width: 14%;
    position:absolute;
    top: 3.5%;
    left: 68%;
    z-index: 2; 
}
.img_face_foreground_6 {
    width: 14%;
    position:absolute;
    top: 3.9%;
    left: 57%;
    z-index: 2; 
}
.img_face_foreground_7 {
    width: 15%;
    position:absolute;
    top: 2.4%;
    left: 39%;
    z-index: 4; 
}
.img_face_foreground_8 {
    width: 15%;
    position:absolute;
    top: 5.1%;
    left: 32.5%;
    z-index: 5; 
}
.img_face_foreground_9{
    width: 15%;
    position:absolute;
    top: 10%;
    left: 26%;
    z-index: 6;   
}
.img_face_foreground_10{
    width: 15%;
    position:absolute;
    top: 19.7%;
    left: 38%;
    z-index: 6;   
}
.img_face_foreground_11{
    width: 15%;
    position:absolute;
    top: 20.7%;
    left: 51%;
    z-index: 4;   
}
.img_face_foreground_12{
    width: 15%;
    position:absolute;
    top: 19.7%;
    left: 64%;
    z-index: 6;   
}
.img_face_foreground_13{
    width: 15%;
    position:absolute;
    top: 20%;
    left: 71%;
    z-index: 4;   
}
.img_face_foreground_14{
    width: 15%;
    position:absolute;
    top: 20.8%;
    left: 79%;
    z-index: 7;   
}
.img_face_foreground_15{
    width: 15%;
    position:absolute;
    top: 18.2%;
    left: 81%;
    z-index: 4;   
}
.img_face_foreground_16{
    width: 15%;
    position:absolute;
    top: 16%;
    left: 80%;
    z-index: 3;   
}
.img_face_foreground_17{
    width: 14%;
    position:absolute;
    top: 9%;
    left: 80%;
    z-index: 4;   
}
.img_face_foreground_18{
    width: 15%;
    position:absolute;
    top: 5%;
    left: 80.5%;
    z-index: 3;   
}
.img_face_foreground_19{
    width: 14%;
    position:absolute;
    top: 1%;
    left: 67%;
    z-index: 2;   
}
.img_face_foreground_20{
    width: 16%;
    position:absolute;
    top: 1.9%;
    left: 78%;
    z-index: 2;   
}
.img_face_foreground_21{
    width: 16%;
    position:absolute;
    top: 0.8%;
    left: 47%;
    z-index: 2;   
}
.img_face_foreground_22{
    width: 16%;
    position:absolute;
    top: 2.2%;
    left: 29%;
    z-index: 2;   
}
.img_face_foreground_23{
    width: 14%;
    position:absolute;
    top: 1.7%;
    left: 22%;
    z-index: 3;   
}
.img_face_foreground_24{
    width: 14%;
    position:absolute;
    top: 5%;
    left: 25%;
    z-index: 3;   
}
.img_face_foreground_25{
    width: 15%;
    position:absolute;
    top: 12%;
    left: 23%;
    z-index: 3;   
}
.img_face_foreground_26{
    width: 16%;
    position:absolute;
    top: 17%;
    left: 21.5%;
    z-index: 3;   
}
.img_face_foreground_27{
    width: 16%;
    position:absolute;
    top: 21.2%;
    left: 23%;
    z-index: 3;   
}
.img_face_foreground_28{
    width: 16%;
    position:absolute;
    top: 19.5%;
    left: 29%;
    z-index: 2;   
}
.img_face_foreground_29{
    width: 14%;
    position:absolute;
    top: 1.5%;
    left: 57%;
    z-index: 3;   
}

.img_hands {
    width: 94%;
    position: absolute;
    top: 1.2%;
    left: 2.8%;
    z-index: 1
    opacity: 1;
    transition: opacity 0.3s ease;
}


.img_hands2 {
    width: 94%;
    position: absolute;
    top: 1.3%;
    left: 2.8%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img_hands {
    animation: fadeOutIn 4s infinite;
    animation-delay: 0s;
}


.img_hands2 {
    animation: fadeOutIn 4s infinite;
    animation-delay: 2s;
}


@keyframes fadeOutIn {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.img_rat1 {
    width: 28%;
    position: absolute;
    top: 45.7%;
    left: 5%; 
    z-index: 4; 
}
.img_rat2 {
    width: 28%;
    position: absolute;
    top: 45.7%;
    left: 34%; 
    z-index: 4; 
}
.img_rat3 {
    width: 28%;
    position: absolute;
    top: 45.7%;
    left: 63%; 
    z-index: 4; 
}
.img_tonels {
    width: 88.3%;
    position: absolute;
    top: 43.9%;
    left: 4.8%; 
    z-index: 3;
}
@keyframes runningText1 {
    0% {
        left: 0%;
        opacity: 0;
    }
    33% {
        left: 30%; /* Начало движения */
        opacity: 1;
    }
    66% {
        left: 65%; /* Промежуточное положение */
        opacity: 0;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

@keyframes runningText2 {
    0% {
        left: 0%;
        opacity: 0;
    }
    33% {
        left: 30%;
        opacity: 1;
    }
    66% {
        left: 65%;
        opacity: 0;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

@keyframes runningText3 {
    0% {
        left: 0%;
        opacity: 0;
    }
    33% {
        left: 30%;
        opacity: 1;
    }
    66% {
        left: 65%;
        opacity: 0;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}
.img_rat1, .img_rat2, .img_rat3 {
    position: absolute;
    width: 28%;
    top: 45.7%;
    z-index: 3;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0;
}

.img_rat1 {
    animation-name: runningText1;
    animation-delay: 0s;
}

.img_rat2 {
    animation-name: runningText2;
    animation-delay: 1s;
}

.img_rat3 {
    animation-name: runningText3;
    animation-delay: 2s;
}
.img_rat1_1{
    width: 28%;
    position: absolute;
    top: 94.5%;
    left: 5%; 
    z-index: 3; 
}
.img_rat2_1{
    width: 28%;
    position: absolute;
    top: 94.5%;
    left: 35%; 
    z-index: 3; 
}
.img_rat3_1{
    width: 28%;
    position: absolute;
    top: 94.5%;
    left: 64%; 
    z-index: 3; 
}
.img_tonels_1{
    width: 88.3%;
    position: absolute;
    top: 93%;
    left: 4.0%; 
    z-index: 2; 
}
@keyframes runningText1_1 {
    0% {
        left: 0%;
        opacity: 0;
    }
    33% {
        left: 30%;
        opacity: 1;
    }
    66% {
        left: 65%;
        opacity: 0;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

@keyframes runningText2_1 {
    0% {
        left: 0%;
        opacity: 0;
    }
    33% {
        left: 30%;
        opacity: 1;
    }
    66% {
        left: 65%;
        opacity: 0;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

@keyframes runningText3_1 {
    0% {
        left: 0%;
        opacity: 0;
    }
    33% {
        left: 30%;
        opacity: 1;
    }
    66% {
        left: 65%;
        opacity: 0;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}
.img_rat1_1, .img_rat2_1, .img_rat3_1 {
    position: absolute;
    z-index: 3;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0;
}

.img_rat1_1 {
    animation-name: runningText1;
    animation-delay: 0s;
}

.img_rat2_1 {
    animation-name: runningText2;
    animation-delay: 1s;
}

.img_rat3_1 {
    animation-name: runningText3;
    animation-delay: 2s;
}
.img_heads {
    width: 95%;
    position: absolute;
    top: 61%;
    left: 2.4%; 
    z-index: 3; 
}
.img_twin_head {
    width: 44.3%;
    position: absolute;
    top: 63.4%;
    left: 27.5%; 
    z-index: 2;  
    opacity: 0;
    transition: opacity 0.5s ease; 
    animation: levitate 6s infinite ease-in-out;
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.img_closedeyes:hover ~ .img_twin_head {
    animation: fadeInOut 5s infinite alternate;
}
.img_twin_head2 {
    width: 44.3%;
    position: absolute;
    top: 63.4%;
    left: 27.5%; 
    z-index: 1;
    animation: levitate 4s infinite ease-in-out; 
}
@keyframes levitate {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0.7%, -0.7%);
    }
    50% {
        transform: translate(-0.7%, 0.7%);
    }
    100% {
        transform: translate(0, 0);
    }
}
.img_closedeyes {
    width: 95%;
    position: absolute;
    top: 61%;
    left: 2.4%; 
    z-index: 5;
    animation: fadeInOut 5s infinite alternate;
        }

        @keyframes fadeInOut {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        } 
.img_innert_heads {
    width: 53.4%;
    position: absolute;
    top: 62%;
    left: 23%; 
    z-index: 4; 
    animation: fadeInOut2 5s infinite alternate;
}
@keyframes fadeInOut2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} 
.img_innert_heads_blue {
    width: 53.4%;
    position: absolute;
    top: 62%;
    left: 23%; 
    z-index: 3; 
}
.img_spider {
    width: 42%;
    width: 40%;
    position: absolute;
    top: 80%;
    left: 33%; 
    z-index: 3; 
    z-index: 3;
    transition: transform 0.3s ease; 
}
.img_spider:hover {
    animation: wave-motion 5s ease-in-out infinite;
  }
  @keyframes wave-motion {
    0% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(-10%, 5%);
    }
    40% {
      transform: translate(-20%, 0);
    }
    60% {
      transform: translate(-10%, -5%);
    }
    80% {
      transform: translate(10%, 5%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
.img_rats_2 {
    width: 89%;
    position: absolute;
    top: 93%;
    left: 4.3%; 
    z-index: 2;  
}
.img_mouth {
    position: absolute;
    top: 1.4%;
    right: 37%;
    width: 60%;
    z-index: 2; 
}

.img_mouth2 {
    position: absolute;
    top: 6.5%;
    right: 37.7%;
    width: 52.5%;
    z-index: 2;
    animation: shakeVertically 0.5s ease-in-out infinite;
}

@keyframes tongueout {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        transform: translateX(5%);
        opacity: 1;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes shakeVertically {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}


.img_mouth3:hover + .img_mouth2 {
    animation: shakeVertically 0.5s ease-in-out infinite, tongueout 2s ease-out forwards; 
    animation-play-state: running;
}


.img_mouth3 {
    position: absolute;
    top: 4%;
    right: 44.5%;
    width: 43%;
    z-index: 3;  
}

.img_newborns {
    position: absolute;
    top: 49%;
    left: 5%;
    width: 91%;
    z-index: 3;
    display: inline-block;
    animation: shake 0.3s infinite;
}
@keyframes shake {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(-2px, -2px);
    }
    20% {
      transform: translate(2px, -2px);
    }
    30% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(2px, 2px);
    }
    50% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, -2px);
    }
    70% {
      transform: translate(-2px, 2px);
    }
    80% {
      transform: translate(2px, 2px);
    }
    90% {
      transform: translate(-2px, -2px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
.img_eyes{
    position: absolute;
    top: 86.9%;
    right: 15%;
    width: 83%;
    z-index: 3; 
    opacity: 0.5; 
}
.img_eye_1 {
    position: absolute;
    top: 87.5%;
    right: 83%;
    width: 15%;
    z-index: 2; 
}
.img_eye_2 {
    position: absolute;
    top: 90%;
    right: 69%;
    width: 21%;
    z-index: 3; 
}
.img_eye_3 {
    position: absolute;
    top: 88.5%;
    right: 70%;
    width: 12%;
    z-index: 4; 
}
.img_eye_4 {
    position: absolute;
    top: 90%;
    right: 52%;
    width: 21%;
    z-index: 2; 
}
.img_eye_5 {
    position: absolute;
    top: 88.5%;
    right: 62%;
    width: 8%;
    z-index: 3; 
}
.img_eye_6 {
    position: absolute;
    top: 87.3%;
    right: 52%;
    width: 13%;
    z-index: 4; 
}
.img_eye_7 {
    position: absolute;
    top: 88%;
    right: 41%;
    width: 14%;
    z-index: 4; 
}
.img_eye_7 {
    position: absolute;
    top: 88%;
    right: 41%;
    width: 14%;
    z-index: 4; 
}
.img_eye_8 {
    position: absolute;
    top: 91%;
    right: 45%;
    width: 11%;
    z-index: 4; 
}
.img_eye_9 {
    position: absolute;
    top: 94%;
    right: 50%;
    width: 8%;
    z-index: 3; 
}
.img_eye_10 {
    position: absolute;
    top: 92.6%;
    right: 36%;
    width: 15%;
    z-index: 3; 
}
.img_eye_11 {
    position: absolute;
    top: 89%;
    right: 31%;
    width: 15%;
    z-index: 2; 
}
.img_eye_12 {
    position: absolute;
    top: 90%;
    right: 22%;
    width: 18%;
    z-index: 3; 
}
.img_eye_13 {
    position: absolute;
    top: 87%;
    right: 19%;
    width: 13%;
    z-index: 2; 
}
.img_eye_14 {
    position: absolute;
    top: 87%;
    right: 34%;
    width: 9%;
    z-index: 2; 
}
.img_eye_15 {
    position: absolute;
    top: 90.5%;
    right: 16%;
    width: 9%;
    z-index: 3; 
}
.img_eye_16 {
    position: absolute;
    top: 93.5%;
    right: 22%;
    width: 13%;
    z-index: 3; 
}
.img_eye_17 {
    position: absolute;
    top: 92.5%;
    right: 15%;
    width: 12%;
    z-index: 2; 
}
.img_eye_18 {
    position: absolute;
    top: 94%;
    right: 31%;
    width: 8%;
    z-index: 3; 
}
.img_eye_19 {
    position: absolute;
    top: 96%;
    right: 30%;
    width: 10%;
    z-index: 2; 
}
.hover-rotate {
    transition: transform 0.3s ease;
}
.hover-rotate:hover {
    transform: rotate(360deg) scale(1.1);
}
.worm_body_hand{
    position: relative;
    height: auto;
    width: 91%;
    z-index: 2;
    display: flex;
    align-items: flex-start;
}
.img_wormhand {
    object-fit: cover;
    width: 100%;
    margin-left: 1.9%; 
    margin-top: -6%;
}
.wormhead2 {
    visibility: hidden;
    position: relative;
    height: auto;
    width: 85%;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    left: 1.2%;
    margin-top: -47%;
}
.img_wormhead2 {
    object-fit: cover;
    width: 100%;
    margin-left: 0%; 
    margin-top: -5%;
    z-index: 3;
}

.img_mask {
    width: 19%;
    top: 81%;
    left: 27.5%;
    position: absolute;
    z-index: 3; 
    animation: rolldown 2s ease-out;
    animation-delay: 0;
    animation-play-state: paused;

}
.animate {
    transform: translateY(0);
    transition: all 2s ease-out;
  }

   @keyframes rolldown {
      0% {
        transform: translateY(0);
        opacity: 1;
      }

      100% {
        transform: translateY(50%);
        opacity: 1;
      }
    } 

  .img_mask:hover {
    animation: сползание вниз 2s forwards;
    animation-play-state: running;
    animation-iteration-count: infinite;
  }